{{!-- user profile --}}
<div class="container mt-4" >
	<div class="row m-b-r m-t-3">
		<div class="col-md-2 offset-md-1">
			<img src="https://i.pinimg.com/474x/e6/e2/d0/e6e2d0e4989ad9a60fbd1c638714864b.jpg" alt="" class="img-circle">
		</div>
		<div class="col-md-4 p-t-3" style="margin-left: 50px">
			<h2>
                {{#if isFollow}}
                    <form action="/me/follow/{{user.userId}}?_method=DELETE" method="post">
                    {{user.userName}}
                    <button type="submit" class="btn btn-primary">Un follow</button>
                </form>
                {{else}}
                    <form action="/me/follow/{{user.userId}}" method="post">
                    {{user.userName}}
                    <button type="submit" class="btn btn-primary">Follow</button>
                    </form>
                {{/if}}
			</h2>
			<h5><i>{{user.nickName}}</i></h5>
			<ul>
				<li><strong>{{reviews.length}}</strong> posts</li>
				<li><strong>{{follower.length}}</strong> followers</li>
				<li><strong>{{following.length}}</strong> following</li>
			</ul> 
		</div>
	</div>
</div>
        <hr>

<div class="mt-4">
    <div class="container">
            <div class="row">   
            {{#each reviews}}
            <div class="col-sm-6 col-lg-4">
                <div class="card card-course-item" style="width: 19rem;">
                    <a href="/public/{{this.userId}}/{{this.tweetId}}">
                        <div class="img-size">
                            <img src="https://seo-websitedesign.com/wp-content/uploads/2020/04/rung-na-uy.jpg" class="card-img-top" alt="...">
                        </div>
                    </a>
                    <div class="card-body">
                        <a href="/public/{{this.userId}}/{{this.tweetId}}" style="text-decoration: none">
                            <h5 class="card-title">{{this.bookName}}</h5>
                        </a>
                        {{!-- <p class="card-text">{{this.description}}</p> --}}
                    </div>
                        <ul class="list-group list-group-flush">
                            <h6 class="list-group-item font-color">Tác giả: {{this.author}} </h6>
                        </ul>
                </div>
            </div>

            {{else}}
            <div class="container mt-4">
                <h3 style="margin-left: 100px">Người dùng này chưa đăng review nào</h3>
            </div>
            {{/each}}
        </div> 
    </div>
</div>
