
<div class="container mt-4" style="margin-left: 250px">

{{#each users}}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <a href="/me/profile/{{this.userName}}"><img src="..." alt="..."></a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="/me/profile/{{this.userName}}">
          <h5 class="card-title">{{this.userName}}</h5>
        </a>
        <p class="card-text">{{this.nickName}}</p>
      </div>
    </div>
  </div>
</div>

{{else}}
<h1>Không tìm thấy kết quả phù hợp</h1>


{{/each}}
</div>