<div class="container mt-4" style="margin-left: 250px">

{{#each tweets}}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <a href="/public/{{this.userId}}/{{this.tweetId}}"><img src="{{this.img}}" alt="..."></a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="/public/{{this.userId}}/{{this.tweetId}}"><h5 class="card-title">{{this.bookName}}</h5></a>
        <p class="card-text">Review by: {{this.nickName}}</p>
        <p class="card-text">{{this.author}}</p>
      </div>
    </div>
  </div>
</div>

{{else}}
<h1>Không tìm thấy kết quả phù hợp</h1>


{{/each}}
</div>