{{!-- user profile --}}
<div class="container mt-4" >
	<div class="row m-b-r m-t-3">
		<div class="col-md-2 offset-md-1">
			<img src="{{{img}}}" alt="" class="img-circle">
		</div>
		<div class="col-md-9 p-t-2">
			<h2 class="h2">
				{{{userName}}} 
			</h2>
			<h5><i>{{{nickName}}}</i></h5>
			<ul>
				<li><strong>{{userData.email}}</strong></li>
				<li><strong>{{userData.fullName}}</strong></li>
			</ul> 
		</div>
	</div>
</div>


<div class="mt-4 container">
<form method ="POST" action ="/me/setting/{{userData.userId}}?_method=PATCH" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="nickName">Biệt danh</label>
      <input type="text" class="form-control" id="nickName" name="nickName" placeholder="{{userData.nickName}}">
    </div>
    <div class="form-group col-md-3">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="firstName">Họ</label>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{userData.firstName}}">
    </div>

        <div class="form-group col-md-3">
      <label for="lastName">Tên</label>
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{userData.lastName}}">
    </div>
    <div class="form-group col-md-6">
      <label for="fullName">Họ và tên</label>
      <input type="text" class="form-control" id="fullName" name="fullName" placeholder="{{userData.fullName}}">
    </div>
  </div>
  <div class="mb-3 form-group">
      <label for="formFile" class="form-label">Ảnh đại diện</label>
      <input class="form-control" type="file" name ="img">
      <span class="form-message"></span>
  </div>
  <button type="submit" class="btn btn-primary">Xác nhận thay đổi</button>
</form>
</div>