<form class="mt-4" name="container-form" method = "POST" action = "/me/review/library/formHandle">
    <h3>My Reviews</h3>
    <div class="mt-4 d-flex align-items-center ">
        </div>
    <div class="mt-4"></div>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">
              Tên sách
            </th>
            <th scope="col">
              Tác giả
            </th>
            <td></td>
            <td></td>
            </tr>
        </thead>
        <tbody>
            {{#each reviews}}
            <tr>  
                <td>{{this.bookName}}</td>
                <td>{{this.author}}</td>
                <td>
                <a href="/me/review/{{this.tweetId}}" class="btn btn-link">Xem review</a>
                <td><a href="/me/review/edit/{{this.tweetId}}" class="btn btn-link">Chỉnh sửa</a></td>
                <td><a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-review-modal" id = 'delete-button' data-id="{{this.tweetId}}">Xóa</a></td>

                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Bạn chưa đăng reviews nào. <a href="/me/review/upload">Nhấn vào đây để đăng reviews nhé</a></td>
            </tr>
            {{/each}}
        </tbody>
</table>
</form>

{{! -- Confirm delete course}}
<div id="delete-review-modal" class="modal"  tabindex="-1">
  <div class="modal-dialog">  
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Hành động này sẽ xóa vĩnh viễn reviews của bạn và không thể khôi phục được. Bạn có chắc chắn muốn xóa?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" id="delete-book" class="btn btn-danger">Đồng ý xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- hidden from --}}
<form name="delete-form" method="POST">

    <script>
  document.addEventListener('DOMContentLoaded', function() {
    var idValue;
    var deleteForms = document.forms['delete-form'];
    var btnDeleteCourse = document.getElementById('btn-delete')
    $('#delete-review-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)  //Button that triggered the modal
      idValue = button.data('id');
    });
    btnDeleteCourse.onclick = function(){ 
      deleteForms.action = '/me/review/library/' + idValue +'?_method=DELETE';
      deleteForms.submit()
    }
  })
</script>
